@model Rationarum_v3.ViewModels.ReportOptionViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Generiranje izvješća</h2>

@using (Html.BeginForm("GenerateReport", "Report"))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Ovdje možete generirati godišnje izvješće i izliste za sve knjige</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.ReportType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ReportType, new SelectList(ViewBag.ReportType))
                @Html.ValidationMessageFor(model => model.ReportType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReportYear, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ReportYear, new SelectList(ViewBag.DocumentedYears))
                @Html.ValidationMessageFor(model => model.ReportYear)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Generiraj izlist" class="btn btn-default" />
            </div>
        </div>
    </div>
    <div style="color:black">
        Napomena: Godišnje izvješće se ne može generirati za odabir "Sve godine".
    </div>
}

